p {
	color: red;
	font-size: 50px;
	font-family: Century Gothic
}

span {
	/*Write your CSS here!*/
	color:blue
}
body {
    background-color: lightblue;
}
.custom {
	font-family: Courier;
	color: red;
	font-size:20px;
}
</st
